body {

   background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-9/13339560_1194290927256083_390288207524482707_n.jpg?oh=e85cd5658735cd2c345a223939aadba6&oe=581ACB45");
   background-size:cover;
   background-repeat:no-repeat;
   margin:0;
   /*width:100%;*/
   /*height:200vh;*/
}
.navbar
{
  list-style-type:none; 
  /*padding:5px;*/
  margin-top:0px;
}
nav
{

  top:0px;
  width:100%;
  background-color:rgba(0, 0, 0, 0.91);
  text-align:center;
  
  
  
}

.navbar a li
  {
    display:inline;   
    margin-right:15px; 
    color:red;
    font-variant:small-caps;
    font-size: 40px;
  }

.navbar a{
  text-decoration:none; 
  /*padding:5px; */
}

.active {
  font-weight: bolder;
}
.heading{
 margin-top:70px;
}

h2
{text-align:center;
  margin:auto;
  font-size:45px;
}
p
{
  text-align:center;
  margin:auto;
  font-size:30px;
}
.pics
{
  width:50%;
  text-align: center;
}

.taco {
 position:relative;
 left: 1000px;
 bottom: 695px;
}
.tao {
  position: relative;
 bottom: 15px;
}
p
{
  width: 50%;
  text-align: center
  margin:auto;
}
footer{
  background-color:black;
  color:white;
  border-radius:10px;
  padding: 10px;
  position:static;
  width:100%;
  margin-top:700px;
  bottom:0px;
}

.signup{
  float:right;
  margin-right:15%;
  width:20%;
  margin-top:10

  
}

.main{
  /*display:inlines-block;*/
  width:40%;
  float:left;
  margin-left: 20%;
  margin-top:10%;
}
.pp{
display:block;
  float:left;
  color:white;
  background-color:rgba(255, 255, 255, 0.62);
   width: 100%;
  
}

.cl{
  margin-top:100px;
}

header{
  height:200;
   bottom:200px;
   color:white;
   margin-top:0;
  

}
.box{
  /*background-color:black;*/
}
.sfs 
{
  font-size:8em;
  display: fixed;
  margin-bottom:0px;
  background-color:rgba(0, 0, 0, 0.91);
  margin-top: 0px;
  text-align: center;
 
}

.btn1{
   background-color:black;
  border:none;
  color:red;
  padding:15px 32px;
  text-align:center;
  font-size:16px;
  margin:0 auto;
  cursor: pointer;
  border-radius:20px;
  transition-duration: 3.8s;
  clear:both;
  display:block;
}

.btn1:hover{
  background-color: red
}
.head{
  font-size:72;

}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:fixed;
    background-attachment: fixed;
    
}
.fb-video {
   width:100vh;
   /*height:100vh;*/
   position:relative;
   overflow:hidden;
   margin-left:20%;
   display:inline-block;
}

.fb-like {
 position: relative;
 left: 995px;
 bottom: 695px;
}
.apple 
{
  background-color: rgba(255, 255, 255, 0.71);
  width:78%;
  margin:auto;
  margin-top: 10%;
}

.su{
  float:right;
}


#p4 {background-color:rgba(0, 0, 0, 0.91);
margin-top:0;
}

#p5 {background-color:rgba(255, 255, 255, 0.62);}

#p6 {background-color:rgba(255, 255, 255, 0.62);}

#container{
  float:left;
  margin-left:auto;
}

.ty{
  margin:20px;
}
.pl
{
    color:black;
    float:left;
  }


.neeco {
  text-align: center;
}

.kxen {
  position: relative;
  top: 200px;   
}
/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}
.plan{
  margin:6%;
}

