.navbar
{
  list-style-type:none; 
  padding:5px;
}
nav
{
  background-color:grey;
  top:0px;
  width:100%;
  
  
}

.navbar a li
  {
    display:inline;   
    margin-right:15px; 
    color:white;
    font-variant:small-caps;
    font-size: 40px;
  }

.navbar a{
  text-decoration:none; 
  padding:5px; 
}

.active {
  font-weight: bolder;
}
.heading{
 margin-top:70px;
}


.pics
{
  width:50%;
  text-align: center;
}

.taco {
 position:relative;
 align: right;
 bottom: 10px;
}
.tao {
  position: absolute;
  left:5%;
  
  
}
p
{
  width: 50%;
  text-align: center
  margin:auto;
}
footer{
  background-color:grey;
  border-radius:10px;
  padding: 5px;
  position:static;
  width:100%;
  margin-top:700px;
  bottom:0px;
}

.signup{
  float:right;
  margin-right:15%;
  width:20%;
  margin-top:10%;
}

.main{
  /*display:inlines-block;*/
  width:40%;
  float:left;
  margin-left: 20%;
  margin-top:10%;
}
/*.pp{*/
/*  display:block;*/
/*  float: left;*/
/*}*/

.cl{
  margin-top:100px;
}

header
{
  background-color: grey;
  height:200px;

}
.sfs 
{
  font-size:100px;
  margin-bottom:30px;
  position:relative;
  bottom:200px;
}

.btn1{
   background-color:black;
  border:none;
  color:white;
  padding:15px 32px;
  text-align:center;
  font-size:16px;
  margin:0 auto;
  cursor: pointer;
  border-radius:20px;
  transition-duration: 3.8s;
  clear:both;
  display:block;
}

.btn1:hover{
  background-color: red
}
.head{
  font-size:72;
}


/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
	
	div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
}

body {
    background-size: 100%;
    background-repeat: repeat;
 
}
.fb-video {
   width:100%;
   /*height: 505px;*/
   position:relative;
   overflow:hidden;
}

video{
   max-width:100%;
   position:absolute;
   top:0px;
}
#p5 {background-color:rgba();}
