body {

   /*background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-9/13339560_1194290927256083_390288207524482707_n.jpg?oh=e85cd5658735cd2c345a223939aadba6&oe=581ACB45");*/
   background-size:cover;
   background-repeat:no-repeat;
   margin:0;
   /*width:100%;*/
   /*height:200vh;*/
}
.navbar
{
  list-style-type:none; 
  /*padding:5px;*/
  margin-top:0px;
}
nav
{

  top:0px;
  width:100%;
  background-color:rgba(0, 0, 0, 0.91);
  text-align:center;
  
  
  
}

.navbar a li
  {
    display:inline;   
    margin-right:15px; 
    color:red;
    font-variant:small-caps;
    font-size: 40px;
  }

.navbar a{
  text-decoration:none; 
  /*padding:5px; */
}

.active {
  font-weight: bolder;
}
.heading{
 margin-top:70px;
}

h2
{text-align:center;
  margin:auto;
  font-size:45px;
}
p
{
  text-align:center;
  margin:auto;
  font-size:30px;
}
.pics
{
  width:50%;
  text-align: center;
}

.taco {
 position:relative;
 left: 1000px;
 bottom: 695px;
}
.tao {
  position: relative;
 bottom: 15px;
}
p
{
  width: 50%;
  text-align: center
  margin:auto;
}
footer{
  background-color:black;
  color:white;
  border-radius:10px;
  padding: 1px;
  /*position:static;*/
  width:100%;
  margin-top:100px;
  bottom:0px;
  text-align:center;
  height:;
}
h3{
  font-size:30px;
  color:white;
}

a:visited {color:white;}

/*.signup{
  float:right;
  margin-right:15%;
  width:20%;
  margin-top:10*/

  
}

.main{
  /*display:inlines-block;*/
  width:40%;
  float:left;
  margin-left: 20%;
  margin-top:10%;
}
.pp{
display:block;
  float:left;
  color:white;
  background-color:rgba(255, 255, 255, 0.62);
   width: 100%;
  
}

.cl{
  margin-top:100px;
}

header{
  height:200;
   bottom:200px;
   color:white;
   margin-top:0;
  

}
.box{
  /*background-color:black;*/
}
.sfs 
{
  font-size:8em;
  display: fixed;
  margin-bottom:0px;
  /*background-color:rgba(0, 0, 0, 0.91);*/
  margin-top: 0px;
  text-align: center;
 
}

.btn1{
   background-color:black;
  border:none;
  color:red;
  padding:15px 32px;
  text-align:center;
  font-size:16px;
  margin:0 auto;
  cursor: pointer;
  border-radius:20px;
  transition-duration: 3.8s;
  clear:both;
  display:block;
}

.btn1:hover{
  background-color: red
}
.head{
  font-size:72;
  text-align: center;

}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position:fixed;
    background-attachment: fixed;
    /*margin-top: -10%;*/
    
}
.fb-video {
   width:100vh;
   /*height:100vh;*/
   position: relative;
   overflow: hidden;
   /*margin-left:17%;*/
   display: block;
   margin: auto;
   
}

.fb_iframe_widget {
    display: block !important;
    position: relative;
    margin: auto;
}


.apple 
{
  background-color: rgba(255, 255, 255, 0.71);
  width:78%;
  margin:auto;
  margin-top: 10%;
}

.su{
  float:right;
}


/*#p4 {background-color:rgba(0, 0, 0, 0.91);*/


#p5 {
  background-color:black
}
table
{color:white;
  font-size: 30px;
}

#p6 {background-color:rgba(255, 255, 255, 0.62);}

#container{
  float:left;
  margin-left:auto;
}

.ty{
  margin:20px;
}
.pl
{
    color:black;
    float:left;
  }





/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth {
  width: 40px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda .agenda-date .shortdate {
  font-size: 0.75em; 
}
.plan{
  margin:6%;
}
.myslides
{
  border-color: black;
  margin:auto;
  width:70%;
  background-color:black;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, .5);
  padding:20px;
  
}
.body {
   background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-9/13339560_1194290927256083_390288207524482707_n.jpg?oh=e85cd5658735cd2c345a223939aadba6&oe=581ACB45");
    background-size: cover;
    background-repeat:no-repeat;
    margin-top:-10%;
    /*margin-bottom:-200;*/
    background-position: center;
    width: 100%;
    min-height:100vh;
}
  
.budy {
     background-image: url("https://scontent.xx.fbcdn.net/v/t1.0-9/13339560_1194290927256083_390288207524482707_n.jpg?oh=e85cd5658735cd2c345a223939aadba6&oe=581ACB45");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-10%;
    /*margin-bottom:-200;*/
    background-position:  ;
    width: 100%;
    min-height:100vh;
    background-attachment:fixed;
}

.up{
  text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}
.fa
{
  margin:15px;
}